__pycache__
Shobu_Games_104k_Dataset
archive.zip
output_big
output_random100
output_40
output_30
thomas_test10000
output_random
output_random10
numpy_test
output_100000.zip
output_100000
test_windows
.venv
*.npy
